@font-face {
	font-family: "bebasNeueRegular";
    src: url(../fonts/bebas_neue_regular.otf);
}
@font-face {
	font-family: "openSans";
    src: url(../fonts/open_sans.ttf);
}
@font-face {
	font-family: "openSansBold";
    src: url(../fonts/open_sans_bold.ttf);
}
@font-face {
	font-family: "bebasNeueBold";
    src: url(../fonts/bebas_neue_bold.ttf);
}
body{
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
}
/*#######################################
				head
#######################################*/
#head{
	height: 887px;
	width: 1299px;
	background-image: url(../img/head.png);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
#logo1{
	height: 57px;
	width: 183px;
	background: url(../img/sprite.png) no-repeat;
	position: absolute;
	top: 19px;
	left: 145px;
}
#head-block1 > i{
	color: #fff;
	font-size: 24px;
	position: absolute;
	top: 39px;
	left: 100px;
	cursor: pointer;
}
#head-block1 > nav{
	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: -240px;
}
#head-block1 > nav > a{
	font-size: 22px;
	font-family: bebasNeueRegular;
	color: #fff;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	cursor: pointer;
	margin: 0 14px;
	transition: border .25s;
}
#head-block1 > nav > a:hover{
	border-bottom: 2px solid #fff;
}
#language{
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 9px;
	right: 101px;
	cursor: pointer;
}
#img-ru{
	height: 9px;
	width: 12px;
	background-image: url(../img/sprite.png);
	background-position: -183px 0;
	margin: 6px 3px 0 0;
}
#language-text{
	font-family: openSans;
	font-size: 14px;
	color: #fff;
}
#img-arrow{
	height: 6px;
	width: 9px;
	background-image: url(../img/sprite.png);
	background-position: -184px -14px;
	margin: 7px 0 0 6px;
}
#phone{
	font-family: openSansBold;
	font-size: 22px;
	color: #fff;
	position: absolute;
	right: 101px;
	top: 38px;
	cursor: pointer;
}
#icons{
	position: absolute;
	top: 83px;
	right: 101px;
}
#icons > a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	margin: 0 2px;
}
#head-block2{
	font-family: bebasNeueBold;
	font-size: 120px;
	color: #fff;
	text-align: center;
	letter-spacing: 3px;
	margin: 250px 0 0 0;
}
#head-block3{
	width: 980px;
	display: flex;
	flex-direction: row;
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
.head-text{
	font-family: openSans;
	color: #fff;
}
#head-block3-1-text{
	width: 412px;
	font-size: 18px;
}
#head-block3-1-document{
	display: flex;
	align-items: center;
	margin-top: 40px;
}
#head-block3-1-document > a{
	font-family: bebasNeueRegular;
	font-size: 18px;
	letter-spacing: 1px;
	color: #fff;
}
#img-pdf{
	height: 34px;
	width: 35px;
	background-image: url(../img/sprite.png);
	background-position: -287px 0;
	margin: 0px 12px 0 0;
}
#head-block3-2{
	display: flex;
	flex-direction: row;
}
#red-logo{
	height: 96px;
	width: 92px;
	background-image: url(../img/sprite.png);
	background-position: -195px 0;
	margin: 5px 16px 0 0;
}
.head-block3-2-text{
	width: 280px;
	font-size: 14px;
}
.head-block3-2-text:last-child{
	margin-top: 28px;
}
#mouse-scroll{
	margin-top: 185px;
	display: flex;
}
#img-mause{
	height: 59px;
	width: 35px;
	background-image: url(../img/sprite.png);
	background-position: -287px -37px;
}
#mause-text{
	width: 50px;
	font-family: openSans;
	font-size: 10px;
	color: #fff;
	margin: 5px 10px;
}
/*#######################################
				content-1
#######################################*/
#content-1{
	width: 1299px;
	height: 611px;
	background-image: url(../img/background.png);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
#content-1-block-1{
	width: 1100px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
	margin: 22px;
}
#content-1-img-1{
	height: 201px;
	width: 255px;
	background-image: url(../img/sprite-2.png);
	background-position: 0 0;
}
#content-1-img-2{
	height: 170px;
	width: 255px;
	background-image: url(../img/sprite-2.png);
	background-position: -258px -30px;
}
#content-1-img-3{
	height: 201px;
	width: 255px;
	background-image: url(../img/sprite-2.png);
	background-position: -516px 0;
}
#content-1-img-4{
	height: 170px;
	width: 255px;
	background-image: url(../img/sprite-2.png);
	background-position: 0px -212px;
}
#img-face{
	height: 145px;
	width: 145px;
	background-image: url(../img/sprite-2.png);
	background-position: -787px -43px;
	position: absolute;
	top: 310px;
	left: 305px;
}
#content-1-block-1-2{
	position: absolute;
	top: 332px;
	left: 498px;
}
#content-1-text-1{
	font-family: bebasNeueBold;
	letter-spacing: 1.3px;
	font-size: 48px;
	color: #000000;
}
.ontent-1-text{
	font-family: openSans;
	font-size: 18px;
	color: #000000;

}
#content-1-text-3{
	width: 565px;
	margin-top: 42px;
	position: relative;
}
#left-quotation-mark{
	height: 38px;
	width: 23px;
	background-image: url(../img/sprite.png);
	background-position: -253px -149px;
	position: absolute;
	left: -36px;
	top: 110px;
}
#right-quotation-mark{
	height: 38px;
	width: 23px;
	background-image: url(../img/sprite.png);
	background-position: -254px -149px;
	background-position: -287px -149px;
	position: absolute;
	right: 5px;
	top: 165px;
}
/*#######################################
				content-2
#######################################*/
#content-2{
	width: 1299px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#content-2-text-1{
	font-family: bebasNeueBold;
	letter-spacing: 1.3px;
	font-size: 72px;
	color: #000000;
	margin-top: 110px;
}
#content-2-text-2{
	font-family: openSans;
	font-size: 24px;
	color: #000000;
	margin: 10px 0 45px;
}
#content-2-block-1{
	width: 1100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.content-2-block-1-1{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content-2-block-1-1 > a{
	width: 290px;
	font-family: openSans;
	font-size: 18px;
	text-align: center;
}
.content-2-date{
	font-family: bebasNeueRegular;
	font-size: 18px;
	color: #000000;
	margin: 10px 0 30px;
}
.content-2-block-1-1:nth-child(4) > a{
	width: 470px;
}
.content-2-block-1-1:last-child > a{
	width: 470px;
}
/*#######################################
				content-3
#######################################*/
#content-3{
	height: 270px;
	width: 1299px;
	position: relative;
	margin-top: 80px;
}
#content-3-block-1{
	width: 1100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 50px 0 0 80px;
}
#content-3-background{
	height: 200px;
	background: #f2f2f2;
}
#content-3-background-2{
	height: 266px;
	width: 302px;
	background-image: url(../img/background-2.png);
	position: absolute;
	right: 0;
	bottom: 70px;
	z-index: 0;
}
#content-3-block-1{
	display: flex;
}

#content-3-block-1 > div{
	width: 250px;
	z-index: 1;
}
.content-3-date{
	font-family: bebasNeueRegular;
	font-size: 18px;
	margin-bottom: 10px;
}
#content-3-block-1 > div > a{
	font-family: openSans;
	font-size: 14px;
	color: #000000;
}

