@font-face {
	font-family: "FugazOne";
    src: url(fonts/FugazOne.ttf);
}

@font-face {
	font-family: "RobotoBold";
    src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
	font-family: "RobotoRegular";
    src: url(fonts/Roboto-Regular.ttf);
}

body{
	margin: 0;
}

/*			menu		*/

.menu{
	width: 100%;
	height: auto;
	background: #2a2c30;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
}

.menu__container > a{
	margin: 0px 20px;
}

.menu__container-element{
	display: inline-block;
	font: 18px RobotoBold;
	color: #fff;
	text-decoration: none;
	padding: 7px 15px;
	transition: background .5s;
}

.menu__container-element:hover{
	background: #45484f;
}

/*			head		*/

.head{
	width: 100%;
	height: auto;
	margin-top: 60px;
	display: flex;
	justify-content: center;
}

.head__container{
	width: 1200px;
	height: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.head__container-logo{
	width: 300px;
	height: 200px;
	background-image: url("img/logo.png");
}

.head__container-link{
	padding: 0 5px 0px;
	display: block;
	font: 24px RobotoRegular;
	color: #000;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	transition: border .25s;
}

.head__container-link:hover{
	border-bottom: 2px solid #000;
}

.head__container-info-phone{
	font: 22px RobotoBold;
	color: #000;
	text-decoration: none;
	padding: 0 5px 1px;
	border-bottom: 2px solid transparent;
	transition: border .25s;
}

.head__container-info-address{
	font: 12px;
	margin: 5px 0;
	cursor: pointer;
}

.head__container-info-socialmedia{
	display: flex;
	justify-content: center;
}

.head__container-info-socialmedia a{
	margin: 0 10px;
}

.head__container-info-socialmedia-link{
	font-size: 36px;
	color: #000;
	transition: color .25s;
}

.head__container-info-socialmedia-link_vk:hover{
	color: #2c4987;
}

.head__container-info-socialmedia-link_facebook:hover{
	color: #2c4987;
}

.head__container-info-socialmedia-link_instagram:hover{
	color: #6123a0;
}

.slider{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider__container{
	display: flex;
	position: relative;
}

.slider__container-element{
	width: 960px;
	height: 640px;
	display: none;
}

.slider__container-element_show{
	display: block;
}

.slider__container-mask{
	width: 960px;
	height: 640px;
	background: rgba(0,0,0,0.5);
	position: absolute;
}

.slider__button{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	border: none;
	background: rgba(0,0,0,0.8);
	color: #fff;
	font: 26px Arial;
}

.slider__button_left{
	margin-right: 10px;
}

.slider__button_right{
	margin-left: 10px;
}

.slider__container-switch{
	position: absolute;
	display: inline-block;
	padding: 5px 10px;
	color: #fff;
	border: 1px solid #fff;
	font: 16px RobotoRegular;
	cursor: pointer;
	bottom: 10px;
	left: 10px;
	transition: background .25s, color .25s;
}

.slider__container-switch:hover{
	background: #fff;
	color: #000;
}

.slider__container-switch_active{
	background: #fff;
	color: #000;
}

.slider__container-switch_2{
	left: 45px;
}

.slider__container-switch_3{
	left: 80px;
}

.slider__container-switch_4{
	left: 115px;
}

.slider__container-switch_5{
	left: 150px;
}

.slider__container-text{
	width: 400px;
	font: 20px RobotoBold;
	color: #fff;
	position: absolute;
	bottom: 20px;
	left: calc(50% - 200px);
	text-align: center;
}