@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&subset=cyrillic';
@font-face {
  font-family: "RobotoBold";
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "RobotoLight";
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: "RobotoRegular";
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "RobotoBoldItalic";
    src: url(../fonts/Roboto-BoldItalic.ttf);
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}
img {
  vertical-align: top;
  max-width: 100%;
}
input,
textarea,
button {
  margin: 0;
  border: none;
  outline: none;
}
a {
  color: inherit;
}
p,
li,
table {
  margin: 0 0 1em;
}
p:first-child,
li:first-child,
table:first-child {
  margin-top: 0;
}
p:last-child,
li:last-child,
table:last-child {
  margin-bottom: 0;
}
strong,
b {
  font-weight: 700;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -7.5px;
}
.row--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.col {
  padding-left: 7.5px !important;
  padding-right: 7.5px !important;
}
.top-xs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.middle-xs {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bottom-xs {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.start-xs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.end-xs {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.center-xs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.around-xs {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.between-xs {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.first-xs {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.last-xs {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.xs-auto {
  -ms-flex-item-align: auto;
      align-self: auto;
}
.xs-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.xs-center {
  -ms-flex-item-align: center;
      align-self: center;
}
.xs-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.xs-1 {
  width: 8.33333%;
}
.xs-2 {
  width: 16.66667%;
}
.xs-3 {
  width: 25%;
}
.xs-4 {
  width: 33.33333%;
}
.xs-5 {
  width: 41.66667%;
}
.xs-6 {
  width: 50%;
}
.xs-7 {
  width: 58.33333%;
}
.xs-8 {
  width: 66.66667%;
}
.xs-9 {
  width: 75%;
}
.xs-10 {
  width: 83.33333%;
}
.xs-11 {
  width: 91.66667%;
}
.xs-12 {
  width: 100%;
}
.hidden-xs {
  display: none !important;
}
@media (min-width: 768px) {
  .start-sm {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .end-sm {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .top-sm {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .middle-sm {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bottom-sm {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .center-sm {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .around-sm {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .between-sm {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .first-sm {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .last-sm {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .sm-auto {
    -ms-flex-item-align: auto;
        align-self: auto;
  }
  .sm-start {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .sm-center {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .sm-end {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .sm-1 {
    width: 8.33333%;
  }
  .sm-2 {
    width: 16.66667%;
  }
  .sm-3 {
    width: 25%;
  }
  .sm-4 {
    width: 33.33333%;
  }
  .sm-5 {
    width: 41.66667%;
  }
  .sm-6 {
    width: 50%;
  }
  .sm-7 {
    width: 58.33333%;
  }
  .sm-8 {
    width: 66.66667%;
  }
  .sm-9 {
    width: 75%;
  }
  .sm-10 {
    width: 83.33333%;
  }
  .sm-11 {
    width: 91.66667%;
  }
  .sm-12 {
    width: 100%;
  }
  .hidden-xs {
    display: block !important;
  }
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 1000px) {
  .start-md {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .end-md {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .top-md {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .middle-md {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bottom-md {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .center-md {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .around-md {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .between-md {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .first-md {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .last-md {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .md-auto {
    -ms-flex-item-align: auto;
        align-self: auto;
  }
  .md-start {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .md-center {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .md-end {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .md-1 {
    width: 8.33333%;
  }
  .md-2 {
    width: 16.66667%;
  }
  .md-3 {
    width: 25%;
  }
  .md-4 {
    width: 33.33333%;
  }
  .md-5 {
    width: 41.66667%;
  }
  .md-6 {
    width: 50%;
  }
  .md-7 {
    width: 58.33333%;
  }
  .md-8 {
    width: 66.66667%;
  }
  .md-9 {
    width: 75%;
  }
  .md-10 {
    width: 83.33333%;
  }
  .md-11 {
    width: 91.66667%;
  }
  .md-12 {
    width: 100%;
  }
  .hidden-sm {
    display: block !important;
  }
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1180px) {
  .start-lg {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .end-lg {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .top-lg {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .middle-lg {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bottom-lg {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .center-lg {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .around-lg {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .between-lg {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .first-lg {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .last-lg {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .lg-auto {
    -ms-flex-item-align: auto;
        align-self: auto;
  }
  .lg-start {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .lg-center {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .lg-end {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .lg-1 {
    width: 8.33333%;
  }
  .lg-2 {
    width: 16.66667%;
  }
  .lg-3 {
    width: 25%;
  }
  .lg-4 {
    width: 33.33333%;
  }
  .lg-5 {
    width: 41.66667%;
  }
  .lg-6 {
    width: 50%;
  }
  .lg-7 {
    width: 58.33333%;
  }
  .lg-8 {
    width: 66.66667%;
  }
  .lg-9 {
    width: 75%;
  }
  .lg-10 {
    width: 83.33333%;
  }
  .lg-11 {
    width: 91.66667%;
  }
  .lg-12 {
    width: 100%;
  }
  .hidden-md {
    display: block !important;
  }
  .hidden-lg {
    display: none !important;
  }
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.375;
  font-size: 15px;
  color: #6d6d6d;
  background: #fff;
}
input,
textarea,
button {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.8em 0;
}
h1 {
  font-size: 2.25em;
}
h2 {
  font-size: 1.875em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 1em;
}
.icon {
  display: block;
  width: 1em;
  height: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.icon--inline {
  display: inline-block;
  vertical-align: middle;
}
.icon--first {
  margin-right: 0.5em;
}
.icon--last {
  margin-left: 0.5em;
}
svg.icon circle,
symbol.icon circle,
svg.icon ellipse,
symbol.icon ellipse,
svg.icon g,
symbol.icon g,
svg.icon line,
symbol.icon line,
svg.icon path,
symbol.icon path,
svg.icon polygon,
symbol.icon polygon,
svg.icon polyline,
symbol.icon polyline,
svg.icon rect,
symbol.icon rect {
  fill: currentColor;
  stroke: inherit;
}
.wrap {
  max-width: 1170px;
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin: 0 auto;
}
.row--margin {
  margin-top: -15px;
}
.row--margin-large {
  margin-top: -30px;
}
.row--nopadding {
  margin-left: 0;
  margin-right: 0;
}
.row--doublepadding {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.col--margin {
  margin-top: 15px;
}
.col--margin-large {
  margin-top: 30px;
}
.col--nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.col--doublepadding {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.light-bg {
  background-color: #315460;
  color: #fff;
}
.input {
  font-size: 22px;
  font-weight: 300;
  color: #51656b;
  padding: 12px 20px;
  background-color: #ececec;
  border-radius: 4px;
  width: 100%;
}
.button {
  font-weight: 700;
  font-size: 32px;
  color: #315460;
  text-decoration: none;
  text-align: center;
  background-color: #000;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f4a343), color-stop(49%, #ffda10), color-stop(58%, #ffc71e), to(#ffdc81));
  background-image: linear-gradient(to top, #f4a343 0%, #ffda10 49%, #ffc71e 58%, #ffdc81 100%);
  border-radius: 10px;
  display: block;
  width: 100%;
  padding: 22px 28px;
  cursor: pointer;
}
.button .icon {
  font-size: 50px;
}
.button:hover {
  color: #5f1909;
}
.button--shadow {
  -webkit-box-shadow: 0 2px 9px rgba(212,170,57,0.65);
          box-shadow: 0 2px 9px rgba(212,170,57,0.65);
}
.button--small {
  font-size: 22px;
  border-radius: 4px;
}
.button--large {
  font-weight: 900;
  padding: 39px 15px;
}
.button--large .icon {
  font-size: 40px;
}
.button--inline {
  display: inline-block;
  width: auto;
}
.button--no-shadow {
  background: #ffca10;
}
.form {
  position: relative;
}
.form__item {
  margin-bottom: 20px;
}
.form__item:last-child {
  margin-bottom: 0;
}
.form__item--submit {
  margin-top: 30px;
  margin-bottom: 30px;
}
.form__label {
  display: inline-block;
  margin-bottom: 5px;
}
.form__overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,0.9);
}
.form__send {
  font-size: 25px;
  font-weight: 700;
  color: #315460;
  background-color: #ffca10;
  padding: 20px 35px;
}
.form__send--subs {
  min-height: 160px;
}
.form__send--arrow:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 16px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 22px solid #ffca10;
  border-bottom: 20px solid transparent;
}
.form__message {
  font-size: 14px;
  color: #ee7575;
  margin-top: 12px;
}
.form__message a {
  font-weight: 700;
  color: #1bc0de;
}
.form__text {
  font-size: 16px;
  color: #51656b;
}
.captcha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.captcha__field {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 20px;
}
.captcha__view {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 120px;
}
.captcha__image {
  height: 29px;
}
.captcha__reload {
  font-size: 14px;
  color: #1bc0de;
  margin-top: 5px;
}
.header {
  background-color: #f8f8f8;
  overflow: hidden;
}
.header__item {
  padding: 20px 0;
}
.header__item--light {
  background-color: #284a55;
  padding-left: 10px;
}
.name-company {
  font-size: 35px;
  font-weight: 900;
  color: #2f2f2f;
}
.rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.rate__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 12px 15px;
}
.rate__item .icon {
  font-size: 9px;
}
.rate__item--up .icon {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #58a840;
}
.rate__item--down .icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #e2464d;
}
.rate__title {
  font-size: 14px;
  font-weight: 700;
  color: #62a2b6;
  margin-bottom: 10px;
}
.rate__value {
  font-size: 16px;
  color: #fff;
}
.rate__value br {
  display: none;
}
.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #325f6e;
}
.info__item {
  width: 33.33%;
  padding: 12px 15px;
}
.info__title {
  font-size: 14px;
  font-weight: 700;
  color: #639aab;
  margin-bottom: 10px;
}
.info__value {
  font-size: 16px;
  color: #fff;
}
.cabinet {
  background-color: #325f6e;
  padding: 12px 15px;
}
.cabinet__item {
  font-size: 14px;
  color: #08dfff;
  margin-bottom: 12px;
}
.cabinet__item:last-child {
  margin-bottom: 0;
}
.cabinet__item .icon {
  font-size: 18px;
  color: #63c0dd;
}
.cabinet__item--balance {
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  color: #fff;
}
.cabinet__item--login .icon {
  color: #ffca10;
}
.menu {
  background-color: #234049;
}
.menu ul {
  list-style: none;
  margin: auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu li {
  margin: 0;
}
.menu a {
  display: block;
  font-size: 18px;
  color: #1cb3cd;
  text-decoration: none;
  padding: 16px 30px;
}
.menu a:hover {
  color: #234049;
  background-color: #ebcf0f;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f4a343), color-stop(49%, #ffda10), color-stop(58%, #ffc71e), to(#ffdc81));
  background-image: linear-gradient(to top, #f4a343 0%, #ffda10 49%, #ffc71e 58%, #ffdc81 100%);
  transition: color .25s;
}
.back-wrong {
  position: relative;
}
.back-wrong:after {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  width: 1000px;
}
.back-wrong--header:after {
  background-color: #284a55;
}
.back-wrong--dark:after {
  background-color: #234049;
}
.screen {
  padding: 38px 0;
}
.screen--small {
  padding: 28px 0;
}
.screen--large {
  padding: 58px 0;
}
.screen--earn {
  padding-bottom: 0;
  overflow: hidden;
}
.screen--secret {
  position: relative;
}
.screen--secret:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  background-color: #dadada;
}
.screen--secret .wrap {
  position: relative;
  z-index: 1;
}
.screen--partner {
  color: #51656b;
  background-color: #ececec;
}
.promo {
  background-color: #234049;
  background-image: url("../images/promo.png");
  background-position: 90% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.promo:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 370px;
  background-color: #dadada;
}
.promo .wrap {
  position: relative;
  z-index: 1;
}
.title {
  font-size: 32px;
  font-weight: 400;
  color: #234049;
  margin: 0.5em 0;
}
.title:first-child {
  margin-top: 0;
}
.title:last-child {
  margin-bottom: 0;
}
.title--margin-large {
  margin: 1.2em 0;
}
.title--bold {
  font-weight: 700;
}
.title--inline {
  display: inline-block;
}
.title--white {
  color: #f8f8f8;
}
.title--left {
  margin-left: 40px;
}
.title--small {
  font-size: 25px;
}
.title--middle {
  font-size: 40px;
}
.title--medium {
  font-size: 50px;
  line-height: 1;
}
.title--large {
  font-size: 68px;
  line-height: 0.8;
}
.title--large span {
  font-size: 48px;
  font-weight: 300;
}
.title-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -30px 0 50px 0;
}
.title-icon .title {
  margin: 0;
}
.title-icon__icon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 314px;
  margin-right: 70px;
}
.subtitle {
  font-size: 16px;
  font-weight: 700;
  color: #51656b;
}
.text {
  line-height: 1.5;
}
.text--large {
  font-size: 20px;
}
.text--padding {
  padding: 0 20px;
}
.text ul {
  list-style: none;
  padding: 0;
}
.text ul li:before {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 12px;
  height: 12px;
  background: url("../images/list-icon.png") center center no-repeat;
  margin-right: 8px;
}
.text li {
  margin: 0;
}
.text a {
  color: #2492ba;
}
.text a:hover {
  color: #ffc828;
}
.text table {
  width: 100%;
}
.text thead {
  font-weight: 700;
  font-style: italic;
}
.text thead tr {
  background: #ffd912;
}
.text td {
  padding: 5px 15px;
}
.text tr {
  background: #f3f3f3;
}
.text tr:nth-child(even) {
  background: #e7edef;
}
.box-limit {
  max-width: 1000px;
}
.box-padding {
  padding: 0 60px;
}
.box {
  color: #fff;
  background-color: #315460;
  border-radius: 10px;
}
.box__footer {
  padding: 20px 30px 30px;
}
.graph {
  background-color: #284a55;
}
.graph__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 15px 4px;
}
.graph__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px 0;
}
.graph__rate {
  font-size: 16px;
  color: #1dc5e4;
  background-color: #325f6e;
  border-radius: 3px;
  padding: 9px 10px;
  margin: 6px 16px 6px 0;
  cursor: pointer;
}
.graph__rate:last-child {
  margin-right: 0;
}
.graph__rate:hover {
  background-color: #407f94;
  -webkit-box-shadow: 0 0 7px #15292f;
          box-shadow: 0 0 7px #15292f;
}
.graph__rate.disable {
  color: #376b7d;
  background-color: #1d3a43;
  -webkit-box-shadow: inset 0 5px 0 rgba(14,31,36,0.43);
          box-shadow: inset 0 5px 0 rgba(14,31,36,0.43);
  cursor: default;
}
.graph__date {
  font-size: 16px;
  color: #1dc5e4;
  text-decoration: underline;
  background-color: transparent;
  padding: 9px 15px;
  position: relative;
  margin: 6px 0;
  cursor: pointer;
}
.graph__date:before {
  content: "";
  display: block;
  width: 1px;
  height: 18px;
  background-color: #376b7d;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.graph__date.disable {
  color: #48889e;
  text-decoration: none;
  cursor: default;
}
.graph__calendar {
  margin: 6px 16px 6px 0;
}
.graph__calendar:last-child {
  margin-right: 0;
}
.calendar {
  font-size: 14px;
  color: #284a55;
  background-color: #fff;
  border-radius: 3px;
  padding: 9px 30px 9px 10px;
  width: 120px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPAgMAAABGuH3ZAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEXBwcHBwcH///8wN45WAAAAAXRSTlMAQObYZgAAAAFiS0dEAmYLfGQAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAATSURBVAjXYwhhdQhhQBBogBRZADfECFY7Aat+AAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
}
.news {
  padding: 20px 15px 0;
}
.news__header {
  font-size: 20px;
  font-weight: 700;
  color: #f8f8f8;
  margin-bottom: 20px;
}
.news__item {
  margin-bottom: 10px;
}
.news__item:last-child {
  margin-bottom: 0;
}
.news__item + .news__item {
  margin-top: 20px;
}
.news__date {
  font-size: 12px;
  color: #639aab;
  margin-bottom: 6px;
}
.news__title {
  font-size: 16px;
  color: #15c5e5;
  margin-bottom: 4px;
}
.news__title a:hover {
  color: #ffd800;
}
.news__text {
  color: #f8f8f8;
}
.news__more {
  font-size: 18px;
  font-weight: 700;
  color: #1dc5e4;
}
.news__more a:hover {
  color: #ffd800;
}
.download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #284853;
  border-radius: 10px;
  overflow: hidden;
}
.download__promo {
  font-size: 16px;
  font-weight: 700;
  color: #639aab;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 135px;
  padding: 13px 18px;
  background-color: #234049;
  margin-right: 18px;
}
.download__promo .icon {
  font-size: 40px;
  color: #f8f8f8;
  margin: 13px 0 0 auto;
}
.download__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 12px 26px;
  position: relative;
}
.download__item:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 20px;
  bottom: 20px;
  width: 1px;
  background-color: #639aab;
}
.download__item:last-child:after {
  display: none;
}
.download__title {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 5px;
}
.download__link {
  font-size: 14px;
  font-weight: 700;
  color: #08dfff;
  margin-bottom: 8px;
}
.download__link:last-child {
  margin-bottom: 0;
}
.download__link .icon {
  font-size: 16px;
  color: #fff;
}
.download__link a:hover {
  color: #ffd800;
}
.download--white {
  background-color: #fff;
}
.download--white .download__promo {
  color: #315460;
  background-color: #fff;
}
.download--white .download__promo .icon {
  color: #315460;
}
.download--white .download__title {
  color: #315460;
}
.download--white .download__link {
  color: #1197d0;
}
.download--white .download__link .icon {
  color: #ffcc3b;
}
.characteristic {
  background-color: #315460;
  border-radius: 3px;
  padding: 33px 34px 33px 44px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.characteristic__icon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 50px;
  text-align: center;
  margin-top: 5px;
  margin-right: 25px;
}
.characteristic__title {
  font-size: 16px;
  line-height: 25px;
  color: #f8f8f8;
  font-weight: 700;
  margin-bottom: 4px;
}
.characteristic__desc {
  font-size: 16px;
  color: #639aab;
  font-weight: 400;
}
.facts {
  margin: 40px 0 30px 0;
}
.fact {
  padding: 10px 50px;
  position: relative;
  height: 100%;
}
.fact:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  bottom: 30px;
  width: 1px;
  background-color: #2f525d;
}
.fact__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.fact__icon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 50px;
  margin-right: 20px;
}
.fact__info {
  font-size: 16px;
  font-weight: 700;
  color: #f8f8f8;
}
.fact__value {
  font-size: 50px;
  font-weight: 700;
  color: #ebd70f;
}
.fact__hint {
  font-size: 16px;
  color: #f8f8f8;
}
.fact__value + .fact__hint {
  margin-top: -10px;
}
.earn {
  padding: 45px 0;
  height: 100%;
  position: relative;
}
.earn:after {
  content: "";
  display: none;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 9999px;
  -webkit-box-shadow: 0 9px 29px rgba(49,84,96,0.47);
          box-shadow: 0 9px 29px rgba(49,84,96,0.47);
}
.earn:hover:after {
  display: block;
}
.earn--first {
  padding-right: 60px;
}
.earn--first:after {
  right: 0;
}
.earn--last {
  padding-left: 60px;
}
.earn--last:after {
  left: 0;
}
.earn__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
.earn__step {
  font-size: 40px;
  font-weight: 300;
  color: #234049;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 40px;
  margin-right: 20px;
}
.earn__title {
  font-size: 20px;
  font-weight: 700;
  color: #234049;
  margin-top: 18px;
  min-height: 2.75em;
}
.earn__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
  margin-bottom: 42px;
}
.earn__item:last-child {
  margin-bottom: 0;
}
.earn__icon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 70px;
  margin-right: 30px;
}
.earn__text {
  color: #315460;
}
.earn__link {
  font-size: 14px;
  color: #1197d0;
  margin-top: 14px;
}
.earn__income {
  font-size: 30px;
  line-height: 92px;
  font-weight: 700;
  color: #234049;
}
.earn__income span {
  color: #5db748;
}
.earn__income img {
  vertical-align: middle;
  margin-left: 20px;
}
.secret {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}
.secret__icon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 81px;
  position: relative;
  margin-right: 36px;
}
.secret__icon span {
  font-size: 31px;
  line-height: 1;
  font-weight: 700;
  color: #f7b434;
  text-align: center;
  position: absolute;
  left: 6px;
  top: 12px;
  width: 24px;
}
.secret__title {
  font-size: 25px;
  color: #234049;
}
.secret__line {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
  background-color: #315460;
  margin: 0 4%;
}
.tooltip {
  color: #213f4a;
  background-color: #ffca10;
  padding: 10px 18px;
  position: relative;
}
.tooltip--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tooltip--flex div {
  margin-right: 12px;
}
.tooltip--flex div:last-child {
  margin-right: 0;
}
.tooltip__value {
  font-size: 70px;
  line-height: 1;
  font-weight: 300;
}
.tooltip__value--small {
  font-size: 50px;
}
.tooltip__text {
  font-size: 15px;
  font-weight: 700;
}
.tooltip__icon {
  font-size: 90px;
}
.tooltip__icon .icon {
  margin: -20px auto;
}
.tooltip:before {
  content: "";
  position: absolute;
  right: 100%;
  bottom: 50%;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 15px solid #ffca10;
  border-bottom: 20px solid transparent;
}
.accordion__item {
  border-bottom: 1px solid #dadada;
}
.accordion__item:last-child {
  border-bottom: none;
}
.accordion__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 30px 0;
}
.accordion__icon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 75px;
  text-align: center;
  margin-right: 40px;
}
.accordion__title {
  font-size: 20px;
  color: #2b97bc;
}
.accordion__title span {
  border-bottom: 2px dashed currentColor;
}
.accordion__title .icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.accordion__item.active .accordion__title .icon {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.accordion__content {
  margin: 0 0 20px 0;
  display: none;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
}
.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0 50px;
}
.message:first-child {
  margin-top: 0;
}
.message:last-child {
  margin-bottom: 0;
}
.message__icon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 122px;
  text-align: center;
  margin-right: 40px;
}
.message__icon--mobile {
  display: none;
}
.message__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}
.message__title {
  font-size: 20px;
  color: #315460;
}
.explanation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.explanation__item {
  font-size: 14px;
  font-weight: 700;
  color: #315460;
  padding: 13px 21px;
  background-color: #ffca10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 8px 0 0;
  position: relative;
}
.explanation__item:last-child {
  margin-right: 0;
}
.explanation__item--large {
  font-size: 35px;
  line-height: 1;
}
.explanation__item--final {
  color: #fff;
  background-color: #315460;
}
.explanation__item:after {
  content: "+";
  display: block;
  position: absolute;
  right: calc(100% - 7px);
  bottom: 50%;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  width: 22px;
  height: 22px;
  background-color: #315460;
  border-radius: 50%;
  font-size: 18px;
  line-height: 22px;
  color: #ffca10;
  text-align: center;
}
.explanation__item:first-child:after {
  display: none;
}
.explanation__item--final:after {
  content: "=";
}
.explanation__icon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  font-size: 34px;
  margin-right: 10px;
}
.activation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 25px 0 45px;
}
.activation:first-child {
  margin-top: 0;
}
.activation:last-child {
  margin-top: 0;
}
.activation__item {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 218px;
  margin: 20px 0;
}
.activation__circle {
  border: 4px solid #ffca10;
  border-radius: 50%;
  padding: 45px;
  display: inline-block;
}
.activation__circle--fill {
  background-color: #ffca10;
}
.activation__text {
  margin-top: 30px;
  margin-right: -20px;
}
.activation__arrow {
  margin: 90px 5% 0;
}
.clarification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.clarification__icon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 80px;
  font-size: 80px;
  color: #fff;
  margin-right: 24px;
}
.clarification__text {
  color: #ffca10;
}
.subs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-right: 60px;
}
.subs:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #ececec;
}
.subs__icon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 160px;
  font-size: 160px;
  color: #ffca10;
  margin-right: 50px;
}
.subs__form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
.social:first-child {
  margin-top: 0;
}
.social__item {
  width: 35px;
  margin-right: 40px;
}
.social__item--large {
  width: 40px;
}
.social__item--shape {
  margin-right: 8px;
}
.social__item:last-child {
  margin-right: 0;
}
.partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.partner:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #d5c8c8;
}
.partner__item {
  margin: 5px 0 5px 30px;
}
.footer {
  padding: 64px 0;
}
.footer__item a {
  text-decoration: none;
  transition: color .25s;
}
.footer__item a:hover {
  color: #fff;
}
.footer__title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 26px;
}
.footer__title a:hover {
  color: #ffca10;
}
.footer__menu {
  color: #5a98ad;
}
.footer__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__menu li {
  margin: 0 0 10px;
}
.support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 55px;
}
.support:last-child {
  margin-bottom: 0;
}
.support__icon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 50px;
  font-size: 50px;
  color: #ffca10;
  margin-right: 26px;
}
.support__title {
  font-size: 18px;
  font-weight: 700;
  color: #5d90a1;
  margin-bottom: 5px;
}
.support__text {
  font-size: 18px;
}
.support__text a {
  text-decoration: none;
  padding: 0 3px 4px 3px;
  border-bottom: 2px solid transparent;
  transition: border .25s;
}
.support__text a:hover{
  border-bottom: 2px solid #fff;
}
.sitemap a{
  color: #ffca10;
  text-decoration: none;
  padding: 0 3px 3px 3px;
  border-bottom: 2px solid transparent;
  transition: border .25s;
}
.sitemap a:hover {
  border-bottom: 2px solid #ffca10;
}
.popup {
  width: 350px;
  background-color: #fff;
  border-radius: 6px;
  padding: 30px 40px 40px;
}
.popup--download {
  width: 560px;
  padding: 30px 25px 40px;
}
.popup--shadow {
  -webkit-box-shadow: 0 0 35px rgba(0,0,0,0.49);
          box-shadow: 0 0 35px rgba(0,0,0,0.49);
}
.popup__back {
  background-color: rgba(49,84,96,0.8);
}
.popup__title {
  color: #51656b;
}
.popup__close {
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  right: -11px;
  top: -11px;
  background: url("../images/popup-close.png") center center no-repeat;
}
.slideout-menu {
  background-color: #284a55;
  color: #fff;
}
.menu-open {
  position: absolute;
  right: 0;
  top: 32px;
}
.menu-mobile__block {
  padding: 15px;
}
.pickmeup {
  z-index: 11;
  margin-top: 6px;
  background-color: #fff;
  color: #234049;
  border: 1px solid #999;
  border-radius: 0;
  display: none;
}
.pickmeup-right {
  margin-left: -107px;
}
.pickmeup .pmu-instance .pmu-button {
  color: #234049;
}
.pickmeup .pmu-instance .pmu-button:hover {
  color: #15c5e5;
}
.pickmeup .pmu-instance .pmu-today {
  background: #dadada;
  color: #fff;
}
.pickmeup .pmu-instance .pmu-selected {
  background: #15c5e5;
  color: #fff;
}
.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected {
  background: #dadada;
}
.pickmeup .pmu-instance .pmu-disabled,
.pickmeup .pmu-instance .pmu-disabled:hover {
  color: #234049;
  opacity: 0.5;
}
.scroll-block {
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  bottom: 0;
  width: 4%;
  min-width: 24px;
  background-color: rgba(24,40,45,0.8);
  opacity: 0;
  cursor: pointer;
  display: none;
}
.scroll-block:hover {
  opacity: 1;
}
.scroll-block__arrow {
  width: 100%;
  height: 12px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAMCAMAAABRJ730AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAA3lBMVEX/yhD/////yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD/yhD///9IEJOyAAAASHRSTlMAAAq4tgkNwr4MEcnGDxXQzRMZ1n5/0xce23J02Rwk4f5pat8hKub8X2H95Ccw6/pWWPvpLTLv+ExQ+e0vQvVFR/Y/ST1A50jUwDj+AAAAAWJLR0QB/wIt3gAAAAlwSFlzAAALEgAACxIB0t1+/AAAAJZJREFUGNNdztUSg1AMBNDcursb1Ki70FL3/f8vaoBB2n1IMuchs0RWPF6fn5cwYmsgCITC/xyJghOL/3IiCSOptJszWaZcnkeh6HCpzFAhqvKq1S1uSIDc1K+WDLQ7JncVoNc3vw2GwGis82QKzOZWo8USWK0FbbaAurPr014DDkc6aThfHCVxvUG9Ez2UJ7lZvN4f8QUcVhau6zIoWgAAAABJRU5ErkJggg==");
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: 30px;
}
.breadcrumb {
  font-size: 14px;
  color: #a1a1a1;
  margin-bottom: 50px;
}
.breadcrumb a {
  color: #28a3cb;
}
.breadcrumb a:hover {
  color: #284a55;
}
.breadcrumb__item {
  display: inline;
  vertical-align: middle;
}
.breadcrumb__item--separator {
  color: #284a55;
}
.news-block {
  padding-bottom: 30px;
  border-bottom: 1px solid #ffcc3b;
  height: 100%;
}
.news-block__date {
  font-size: 13px;
  color: #284a55;
  margin-bottom: 10px;
}
.news-block__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.news-block__image {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 165px;
  margin-right: 30px;
}
.news-block__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 900;
  color: #234049;
  margin-top: -4px;
  margin-bottom: 20px;
}
.news-block__title a {
  text-decoration: none;
}
.news-block__title a:hover {
  color: #2599bf;
  text-decoration: underline;
}
.news-block__text {
  font-size: 16px;
  color: #284a55;
}
.page:before,
.page:after {
  content: "";
  display: table;
}
.page:after {
  clear: both;
}
.page__image {
  width: 40%;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
}
.page__title {
  font-size: 30px;
  font-weight: 400;
  color: #284a55;
  margin-top: -4px;
}
.page__text {
  font-size: 16px;
  color: #234049;
}
.image-right {
  float: right;
  max-width: 40%;
  margin-left: 30px;
}
.image-left {
  float: left;
  max-width: 40%;
  margin-left: 30px;
}
.hr {
  border: none;
  color: #ffc828;
  background-color: #ffc828;
  height: 1px;
  margin-top: 22px;
  margin-bottom: 22px;
}
@media (max-width: 1180px) {
  .scroll-block {
    width: 15px;
  }
}
@media (max-width: 1000px) {
  .earn--first {
    padding-right: 0;
    border-bottom: 1px solid #dadada;
  }
  .earn--last {
    padding-left: 0;
  }
  .earn:after {
    display: none !important;
  }
  .secret {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .secret__title {
    width: calc(100% - 117px);
  }
  .secret__title br {
    display: none;
  }
  .secret__line {
    width: 100%;
    background-color: transparent;
    margin: 15px 0;
  }
  .tooltip__text br {
    display: none;
  }
  .tooltip:before {
    right: 100%;
    bottom: 100%;
    -webkit-transform: translate(56px, 0);
            transform: translate(56px, 0);
    border-top: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid #ffca10;
  }
  .explanation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .explanation__item {
    width: 55%;
    margin-right: 0;
  }
  .explanation__item:after {
    right: 50%;
    bottom: calc(100% - 7px);
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
  .explanation__text br {
    display: none;
  }
}
@media (max-width: 768px) {
  .box-padding {
    padding: 0;
  }
  .back-wrong:before {
    content: "";
    display: block;
    position: absolute;
    right: 100%;
    top: 0;
    bottom: 0;
    width: 1000px;
  }
  .back-wrong--header:before {
    background-color: #284a55;
  }
  .back-wrong--dark:before {
    background-color: #234049;
  }
  .logo,
  .name-company {
    display: inline-block;
    vertical-align: middle;
  }
  .logo {
    margin-right: 20px;
  }
  .header__item--light {
    padding-left: 0;
  }
  .menu ul {
    display: block;
  }
  .menu li {
    border-bottom: 1px solid #284a55;
  }
}
@media (max-width: 600px) {
  .screen {
    padding: 20px 0;
  }
  .screen--secret:before {
    display: none;
  }
  .screen--large {
    padding: 30px 0;
  }
  .button {
    font-size: 18px;
    padding: 10px 20px;
    width: 100%;
  }
  .button .icon {
    font-size: 30px;
  }
  .button--large {
    padding: 18px 26px;
  }
  .button--large .icon {
    font-size: 30px;
  }
  .title {
    font-size: 26px;
  }
  .title--large {
    font-size: 40px;
  }
  .title--large span {
    font-size: 26px;
  }
  .title--left {
    margin-left: 0;
  }
  .text--large {
    font-size: 16px;
  }
  .title-icon {
    margin-top: 0;
  }
  .title-icon--icon {
    display: none;
  }
  .download {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .download__promo {
    width: 100%;
    margin-right: 0;
  }
  .download__promo .icon {
    display: none;
  }
  .download__item {
    width: 50%;
  }
  .fact {
    padding: 10px 30px;
  }
  .fact__value {
    font-size: 40px;
  }
  .explanation__item {
    width: 100%;
  }
  .accordion__header {
    padding: 20px 0;
  }
  .message {
    margin: 30px 0 20px;
  }
  .message__icon {
    width: 60px;
    margin-right: 15px;
  }
  .message__icon--desktop {
    display: none;
  }
  .message__icon--mobile {
    display: block;
  }
  .earn {
    padding: 20px 0;
  }
  .earn__header {
    margin-bottom: 30px;
  }
  .earn__title {
    margin-bottom: 14px;
  }
  .earn__item {
    margin-bottom: 30px;
  }
  .earn__income {
    font-size: 22px;
    line-height: 50px;
  }
  .earn__income img {
    width: 40px;
    margin-left: 10px;
  }
  .subs {
    padding-right: 0;
  }
  .subs:after {
    display: none;
  }
  .subs__icon {
    width: 80px;
    margin-right: 20px;
  }
  .social {
    margin-top: 20px;
  }
  .footer {
    padding: 30px 0;
  }
  .box__footer {
    padding: 20px 15px 15px;
  }
  .popup--download {
    width: 380px;
  }
  .activation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 0 30px;
  }
  .activation__item {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .activation__text {
    margin-top: 20px;
    margin-right: 0;
  }
  .activation__arrow {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin: 10px auto;
  }
  .scroll-block {
    display: none !important;
  }
  .breadcrumb {
    margin-bottom: 20px;
  }
  .news-block {
    padding-bottom: 20px;
  }
  .news-block__image {
    width: 100px;
    margin-right: 15px;
  }
  .breadcrumb {
    margin-bottom: 20px;
  }
  .page__image {
    float: none;
    width: 100%;
    text-align: center;
  }
  .image-right,
  .image-left {
    text-align: center;
    float: none;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 400px) {
  .text table {
    overflow: auto;
    overflow-y: hidden;
    overflow-x: auto;
    display: block;
    width: 100% !important;
  }
  .info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .info__item {
    width: auto;
  }
  .download__item {
    width: 100%;
  }
  .download__item:after {
    display: none;
  }
  .popup {
    width: 300px;
    padding: 20px 20px 30px;
  }
  .rate__value br {
    display: inline;
  }
  .news-block__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-block__image {
    text-align: center;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .subs__icon {
    display: none;
  }
}
/* main */

#main{
  height: 1478px;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bitcoin-background{
  height: 184px;
  width: 100%;
  background-image: url("../images/background.png");
  overflow: hidden;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bitcoin-element-position{
  height: 135px;
  width: 1155px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#bitcoin-element-title{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bitcoin-background-a{
  font: 14px RobotoRegular;
  margin: 0 10px;
  color: #28a3cb;
}

#on-this-page{
  color: #999;
  text-decoration: none;
}

#bitcoin-title{
  font: 60px RobotoBold;
  color: #fff;
}

#help-img{
  height: 85px;
  width: 90px;
  background-image: url("../images/help.png");
}

#content-title{
  width: 1085px;
  font: 30px RobotoRegular;
  color: #284a55;
  margin: 50px 0 25px;
}

#line{
  height: 1px;
  width: 748px;
  background: #ffc828;
  margin-right: 337px;
}

.content-text{
  width: 1085px;
  font: 16px RobotoLight;
  color: #234049;
  margin: 48px 0 44px;
}

.content-text > a{
  color: #2492ba;
}

#ul-content{
  display: flex;
  margin: 0 530px 20px 0;
}

#title-ul{
  font: 18px RobotoBold;
  color: #234049;
  margin: 0 875px 10px 0;
}

#content-ul-1{
  padding: 0;
}

#content-ul-1 li{
  list-style-type: none;
  width: 390px;
  font: 18px RobotoLightd;
  color: #284a55;
  padding-left: 32px;
  background-image: url(../images/list-icon.png);
  background-repeat: no-repeat;
  background-position: left 6px;
  margin: 12px 0;
}

#content-ul-2{
  margin-top: 14px;
}

#content-ul-2 > div{
  display: flex;
  align-items: center;
  font: 16px RobotoLight;
  color: #234049;
  margin: 10px 0 10px 50px;
}

.circle{
  height: 32px;
  width: 32px;
  border: 3px solid #ffc828;
  border-radius: 50%;
  text-align: center;
  padding: 3px 0 0;
  font: 16px RobotoBold;
  color: #234049;
  margin-right: 15px;
}

#content-table td{
  color: #234049;
  font-size: 16px;
}

#content-table > tbody > tr > td:first-child{
  height: 49px;
  width: 207px;
  background: #f3f3f3;
  padding-left: 20px;
}

#content-table > tbody > tr > td:nth-child(2){
  height: 49px;
  width: 802px;
  background: #f3f3f3;
  padding-left: 20px;
}

#content-table > tbody > tr > td:last-child{
  height: 49px;
  width: 67px;
  background: #f3f3f3;
  text-align: center;
}

#content-table > tbody > tr:first-child > td{
  background: #ffd912;
  font-family: RobotoBoldItalic;
}