body{
	margin: 0;
	font-family: arial;
	background-image: url(../img/background/background.jpg);
}
h2{
	text-align: center;
}
h3{
	text-align: center;
}
/*loading*/
#loading{
	position:fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
}
#loading > div{
	height: 100%;
	width: 50%;
	background: black;
	position: absolute;
}
#loading > div:first-child{
	left: 0;
	transition: all 5s;
}
#loading > div:last-child{
	right: 0;
	transition: all 5s;
}
#animation-position{
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	z-index: 1;
}
#animation{
	height: 100px;
	width: 100px;
	animation: anim 1.25s infinite linear;
	border: 3px solid transparent;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 3px solid green;
	transition: opacity .5s;
}
	#animation > div{
		height: 80px;
		width: 80px;
		animation: anim 1s infinite linear;
		border: 3px solid transparent;
		border-radius: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 3px solid blue;
	}
		#animation > div > div{
			height: 60px;
			width: 60px;
			animation: anim 0.75s infinite linear;
			border: 3px solid transparent;
			border-radius: 30px;
			border-top: 3px solid red;
		}
@keyframes anim{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
/*welcome*/
#welcome{
	height: 760px;
	width: 540px;
	background: #fff;
	position: absolute;
	left: calc(50% - 300px);
	top: calc(50% - 400px);
	padding: 20px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: opacity .25s;
}
.button-begin{
	font-size: 32px;
	background: none;
	border: 2px solid transparent;
	border-radius: 15px;
	transition: border .25s;
	padding: 5px 8px;
	cursor: pointer;
	margin-top: 25px;
	outline: none;
}
.button-begin:hover{
	border: 2px solid #000000;
}
#menu{
	height: auto;
	width: 250px;
	padding: 20px 20px 40px 20px;
	background: #fff;
	display: none;
	opacity: 0;
	transition: opacity .25s;
	flex-direction: column;
	align-items: center;
}
#menu-boy{
	display: none;
}
.sex{
	width: 100px;
	height: 100px;
	border: 2px solid black;
	transition: border .25s;
	margin: 10px;
	cursor: pointer;
}
.menu-1{
	display: flex;
}
.menu-1 > label > input{
	display: none;
}
#gerl{
	background-image: url('../img/icons/gerl.png');
}
#gerl-2{
	background-image: url('../img/icons/gerl-2.png');
}
#boy{
	background-image: url('../img/icons/boy.png');
}
#boy-2{
	background-image: url('../img/icons/boy-2.png');
}

.menu-1 > label > input:checked + .sex{
	border: 2px solid #FF7F00;
}