@font-face {
  font-family: "RobotoBold";
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "RobotoRegular";
    src: url(../fonts/Roboto-Regular.ttf);
}
body{
	margin: 0;
}
h1,
h2,
h3,
h4,
h5{
	margin: 0;
	font-family: RobotoBold;
}
ul{
	margin: 0;
}
/*			head		*/
.head{
	width: 100%;
	height: 60px;
	background: #22334f;
	position: relative;
}
.head__logo{
	display: inline-block;
	padding: 7.5px;
	position: absolute;
	left: calc(25% - 77px);
}
.head__phone{
	display: inline-block;
	width: auto;
	height: auto;
	display: flex;
	align-items: center;
	position: absolute;
	right: calc(30% - 123px);
	top: 12px;
}
.head__phone-icon{
	width: 25px;
	height: 24px;
	background-image: url(../img/icon-phone.png);
	-webkit-transition: transform .5s;
	-moz-transition: transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
}
.head__phone-number{
	font: 24px robotoBold;
	color: #fff;
	text-decoration: none;
	padding-left: 10px;
}
.head__phone:hover .head__phone-icon{
	-moz-transform: rotate(-90deg); 
    -ms-transform: rotate(-90deg); 
    -webkit-transform: rotate(-90deg); 
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
/*			block-1			*/
.block-1{
	width: 100%;
	height: 646px;
	background-image: url(../img/background-1.jpg);
}
.block-1__mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: relative;
}
.block-1__mask-h2{
	position: absolute;
	top: 30px;
	right: 18%;
	font-size: 48px;
	color: #fff;
}
.block-1__mask-description{
	position: absolute;
	right: 18%;
	top: 105px;
	font: 24px RobotoRegular;
	color: #fff;
}
.block-1__mask-img{
	position: absolute;
	right: 20%;
	top: calc(50% - 157px);
}
.block-1__mask-share{
	display: inline-block;
	padding: 8px 16px;
	border-radius: 15px;
	background: red;
	position: absolute;
	bottom: 100px;
	right: 25%;
	font: 36px RobotoBold;
	color: #fff;
}
.block-1__mask-advantages{
	width: auto;
	height: auto;
	position: absolute;
	font: 32px RobotoRegular;
	color: #000;
	bottom: 200px;
	left: 6%;
}
.block-1__mask-advantages li{
	width: 530px;
	list-style-type: none;
	margin: 10px;
	padding: 8px 8px 8px 46px;
	border-radius: 10px;
	background: url(../img/icon-li.png) left 5px no-repeat, #fff;
	-webkit-transition: padding .25s, font .25s, background .25s;
	-moz-transition: padding .25s, font .25s, background .25s;
	-o-transition: padding .25s, font .25s, background .25s;
	transition: padding .25s, font .25s, background .25s;
	cursor: default;
}
.block-1__mask-advantages li:hover{
	padding: 12px 30px 12px 46px;
	font: 33px RobotoRegular;
	background: url(../img/icon-li.png) left 9px no-repeat, #fff;
}
.block-1__mask-price{
	width: 330px;
	height: auto;
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 100px;
	left: 7%;
	background: #fff;
	padding: 10px;
	border-radius: 10px;
}
.block-1__mask-price-default{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.block-1__mask-price-default-title{
	font: 16px RobotoBold;
	color: #3d3d3d;
	text-align: center;
}
.block-1__mask-price-default-content{
	font: 28px RobotoBold;
	color: #3d3d3d;
	text-align: center;
	text-decoration: line-through;
}
.block-1__mask-price-general{
	padding-left: 24px;
	font: 40px robotoBold;
	color: #000;
}
.block-1__mask-order{
	border: none;
	background: #d10202;
	font: 36px RobotoBold;
	color: #fff;
	padding: 8px 16px;
	border-radius: 10px;
	border-bottom: 2px solid #000;
	cursor: pointer;
	outline: none;
	-webkit-transition: background .25s;
	-moz-transition: background .25s;
	-o-transition: background .25s;
	transition: background .25s;
	position: absolute;
	bottom: 105px;
	left: 27%;
}
.block-1__mask-order:hover{
	background: #0c873a;
}
/*			block-2			*/