@font-face {
  font-family: "RobotoBold";
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "RobotoRegular";
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Intro";
    src: url(../fonts/Intro.otf);
}
body{
	margin: 0;
}
img{
	max-width: 100%;
	height: auto;
}
h1,
h2,
h3,
h4,
h5{
	margin: 0;
	font-family: RobotoBold;
}
ul{
	margin: 0;
}
.line-title{
	padding-bottom: 5px;
	/*border-bottom: 2px solid #000;*/
}
.title-h2{
	color: #364777;
	font: 42px Intro;
	text-align: center;
}
/*			head		*/
.head{
	width: 100%;
	height: 60px;
	background: #22334f;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.head__logo{
	display: inline-block;
	padding: 7.5px;
}
.button-call{
	font: 22px RobotoRegular;
	color: black;
	border: none;
	outline: none;
	background: #F9B41B;
	padding: 4px 8px;
	border-bottom: 2px solid #000;
	border-radius: 8px;
	cursor: pointer;
	-webkit-transition: background .25s;
	-moz-transition: background .25s;
	-o-transition: background .25s;
	transition: background .25s;
}
.button-call:hover{
	background: green;
}
/*			block-1			*/
.block-1{
	width: 100%;
	height: 800px;
	background-image: url(../img/background-1.jpg);
	background-size: cover;
}
.block-1__mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: relative;
}
.block-1__mask-h2{
	position: absolute;
	top: 150px;
	left: 18%;
	font-size: 48px;
	color: #fff;
}
.block-1__mask-title-h2{
	padding-top: 50px;
	text-align: center;
	margin: 0 0 100px;
	font-size: 60px;
	color: #fff;
}
.block-1__mask-description{
	position: absolute;
	left: 18%;
	top: 210px;
	font: 24px RobotoRegular;
	color: #fff;
}
.block-1__mask-img{
	position: absolute;
	left: 20%;
	top: calc(55% - 157px);
}
.block-1__mask-share{
	display: inline-block;
	padding: 8px 16px;
	border-radius: 15px;
	background: red;
	position: absolute;
	bottom: calc(27% - 32px);
	right: 25%;
	font: 36px RobotoBold;
	color: #fff;
}
.block-1__mask-advantages{
	width: auto;
	height: auto;
	position: absolute;
	font: 32px RobotoRegular;
	color: #000;
	top: 50px;
	left: 9%;
	border-radius: 16px;
	background: rgba(255,255,255,0.8);
	padding: 8px 8px;
}
.block-1__mask-advantages li{
	list-style-type: none;
	padding: 8px 8px 8px 46px;
	background: url(../img/icon-li.png) left 5px no-repeat;
}
.block-1__mask-order{
	width: 280px;
	height: auto;
	position: absolute;
	bottom: calc(50% - 216px);
	right: 16%;
	padding: 21px;
	border: 5px solid #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba(34,51,79,0.8);
}
.block-1__mask-order-title{
	font: 18px RobotoBold;
	color: #fff;
	margin: 8px 0 16px;
}
.block-1__mask-order-timer{
	width: 80%;
}
.block-1__mask-order-timer-time{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.block-1__mask-order-timer-time-element{
	font: 24px RobotoBold;
	color: #000;
	padding: 10px;
	background: #f9b41b;
	border: 2px solid #fff;
}
.block-1__mask-order-timer-time-colon{
	font: 28px RobotoBold;
	color: #fff;
}
.block-1__mask-order-timer-description{
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 0 15px;
}
.block-1__mask-order-timer-description-element{
	font: 16px RobotoRegular;
	color: #fff;
}
.block-1__mask-order-timer-description-element_1{
	margin-right: 35px;
	margin-left: 5px;
}
.block-1__mask-order-timer-description-element_2{
	margin-right: 33px;
}
.block-1__mask-order-prices{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.block-1__mask-order-prices-general{
	background: #fff;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.block-1__mask-order-prices-action{
	background: #feb100;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.block-1__mask-order-prices-general-price{
	font: 15px RobotoBold;
}
.block-1__mask-order-prices-general-value{
	font: 28px RobotoBold;
	text-decoration: line-through;
}
.block-1__mask-order-prices-action-price{
	font: 15px RobotoBold;
}
.block-1__mask-order-prices-action-value{
	font: 28px RobotoBold;
}
.block-1__mask-order-form{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.block-1__mask-order-form-input{
	width: 257px;
	border: 0;
	padding: 8px;
	margin-top: 15px;
	font: 16px RobotoRegular;
}
.block-1__mask-order-form-send{
	width: 273px;
	height: auto;
	font: 18px RobotoBold;
	color: #fff;
	outline: none;
	border: none;
	cursor: pointer;
	background: linear-gradient(to top, #fe0a0a, #ff2a2c);
	padding: 20px 0;
	border-bottom: 3px solid #b70400;
	margin-top: 15px;
	-webkit-transition: background .25s;
	-moz-transition: background .25s;
	-o-transition: background .25s;
	transition: background .25s;
}
.block-1__mask-order-form-send_22px{
	font-size: 22px;
}
@media (max-width: 1600px) {
	.block-1__mask-order{
		right: 5%;
	}
	.block-1__mask-img,
	.block-1__mask-h2,
	.block-1__mask-description{
		left: 5%;
	}
 }
 @media (max-width: 1200px) {
 	.block-1{
 		height: auto;
 	}
 	.block-1__mask{
 		display: flex;
 		flex-direction: column;
 		align-items: center;
 	}
 	.block-1__mask-title-h2{
 		margin-bottom: 30px;
 	}
 	.block-1__mask-h2,
 	.block-1__mask-description,
 	.block-1__mask-img{
 		position: static;
 	}
 	.block-1__mask-order{
		position: static;
		margin-bottom: 30px;
	}
	.block-1__mask-h2_adaptive{
		margin-top: 40px;
	}
 }
/*			block-2			*/
.block-2{
	width: 100%;
	height: auto;
	background: #333333;
	display: flex;
	justify-content: center;
}
.block-2__description{
	width: 1100px;
	display: flex;
	justify-content: space-between;
}
.block-2__description-element{
	width: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 25px 0;
}
.block-2__description-element-title{
	margin: 15px 0;
	font: 18px RobotoBold;
	color: #fff;
}
.block-2__description-element-content{
	font: 16px RobotoRegular;
	color: #fff;
}
@media (max-width: 1050px) {
	.block-2__description{
		flex-wrap: wrap;
	}
	.block-2__description-element{
		width: 40%;
		margin-left: 25px;
		margin-right: 25px;
	}
}
/*			block-3			*/
.block-3{
	width: 100%;
	height: auto;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 30px;
}
.block-3__title{
	margin: 30px;
}
.block-3__title-green{
	color: #14BB29;
}
.block-3__content{
	display: flex;
	justify-content: center;
}
.block-3__content-characteristics{
	width: 700px;
}
.block-3__content-characteristics-ul{
	width: 100%;
}
.block-3__content-characteristics-ul li{
	width: 300px;
	display: inline-block;
	height: auto;
	font: 20px RobotoRegular;
	list-style-type: none;
	padding: 10px 0 10px 24px;
	background: url(../img/icon-li-2.png) left 16px no-repeat, #fff;
}
.block-3__content-form{
	width: auto;
	padding: 30px 50px 50px;
	border: 10px solid #F43939;
	background: #fff;
	position: relative;
	box-shadow:
   0 1px 4px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;
}
.block-3__content-form-timer{
	padding: 10px;
	position: absolute;
	top: -53px;
	left: calc(50% - 248px);
	border: 10px solid #25cca0;
	background: #fff;
}
.block-3__content-characteristics-img{
	margin: 20px 50px 0;
}
.block-3__content-form-form{
	display: flex;
	justify-content: center;
	align-items: center;
}
.block-3__content-form-form button{
	margin-top: 0;
}
.block-3__content-form-input{
	font: 26px RobotoRegular;
    width: 240px;
    padding: 12px 20px;
    border: 1px solid gray;
    height: 46px;
    background: transparent;
    outline: none;
    -webkit-transition: box-shadow .25s;
	-moz-transition: box-shadow .25s;
	-o-transition: box-shadow .25s;
	transition: box-shadow .25s;
	margin-right: 10px;
 }

 .block-3__content-form-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.block-3__content-form-send{
	background: red;
    border: 0;
    width: 240px;
    height: 46px;
    font: 16px RobotoBold;
/*    -webkit-border-radius: 10px;
    border-radius: 10px;*/
    color: #fff;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}
.block-3__content-form-title{
	font: 41px Intro;
	text-align: center;
	margin-bottom: 20px;
	color: #364777;
}
@media (max-width: 1080px) {
	.block-3__content{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 20px;
	}
	.block-3__content-form{
		width: calc(100% - 160px);
		margin-left: 20px;
		margin-right: 20px;
	}
	.block-3__content-form-form{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.block-3__content-form-input{
		width: 60%;
		margin: 0 0 20px;
	}
	.block-1__mask-order-form-send_22px-adaptive{
		font-size: 30px;
		width: calc(60% + 40px);
	}
	.block-3__content-characteristics-ul{
		padding: 0;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
}
@media (max-width: 950px){
	.block-3__content-characteristics{
		width: 100%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.block-3__content-characteristics-img{
		margin-left: 20px;
		margin-right: 20px;
	}
}
/*			block-4				*/
.block-4{
	width: 100%;
	background: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding-bottom: 30px;
}
.block-4__title{
	margin: 20px 0;
	color: #fff;
	padding-bottom: 400px;
}
.block-4__zoom{
	display: none;
	opacity: 0;
	position: absolute;
	top: 90px;
	-webkit-transition: opacity .25s;
	-moz-transition: opacity .25s;
	-o-transition: opacity .25s;
	transition: opacity .25s;
}
.block-4__zoom_active{
	display: block;
	opacity: 1;
}
.block-4__button{
	font: 20px RobotoRegular;
	padding: 6px 12px;
	background: #FFCD00;
	color: #000;
	outline: none;
	border: none;
	margin: 0 25px;
	cursor: pointer;
	-webkit-transition: background .25s;
	-moz-transition: background .25s;
	-o-transition: background .25s;
	transition: background .25s;
}
.block-4__button:hover{
	background: #3D6591;
}
@media (max-width: 768px){
	.block-4__title{
		margin: 20px;
		padding-bottom: 360px;
	}
	.block-4__zoom{
		max-width: 100%;
		top: 140px;
	}
}
@media (max-width: 700px){
	.block-4__title{
		padding-bottom: 330px;
	}
}
/*			block-5				*/
.block-5{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 30px;
	background: #fff;
}
.block-5__title{
	margin: 30px;
}
.block-5__container{
	display: flex;
}
.block-5__container-images{
	display: flex;
	flex-direction: column;
	margin-right: 40px;
}
.block-5__container-images-element{
	margin: 15px 0;
	border-radius: 15px;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}
.block-5__container-description{
	width: 600px;
}
.block-5__container-description-text{
	font: 17px RobotoRegular;
}
@media (max-width: 1050px){
	.block-5__container{
		flex-direction: column;
		align-items: center;
	}
	.block-5__container-images{
		flex-direction: row;
		justify-content: center;
		margin-bottom: 20px;
		margin-right: 0;
	}
	.block-5__container-images-element{
		margin: 0 20px;
	}
}
@media (max-width: 800px){
	.block-5__container{
		width: 100%;
	}
	.block-5__container-images{
		width: 100%;
	}
	.block-5__container-images-element{
		width: 300px;
		height: 320px;
	}
}
/*			block-6				*/
.block-6{
	width: 100%;
	height: 564px;
	background-image: url(../img/block-6.png);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.block-6__title{
	margin: 50px;
}
.block-6__title-green{
	color: green;
}
.block-6__content{
	width: 1200px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.block-6__content_element{
	width: 600px;
	font: 20px RobotoRegular;
	color: #000;
	margin: 10px 0;
}
.block-6__content_element-blue{
	font-family: RobotoBold;
	color: #4169d8;
}
@media (max-width: 1300px){
	.block-6{
		height: auto;
		padding-bottom: 40px;
	}
	.block-6__content{
		width: calc(100% - 40px);
		margin: 0 20px;
		justify-content: center;
	}
	.block-6__content_element{
		width: 530px;
	}
}
/*			block-7			*/
.block-7{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
	background: #fff;
}
.block-7__content-element{
	width: 600px;
	font: 16px RobotoRegular;
	list-style-type: none;
	background: url(../img/icon-li-2.png) left 8px no-repeat;
	padding: 4px 0 4px 20px;
	margin: 10px 0;
}
.block-7__img{
	width: 400px;
	height: 400px;
}
@media (max-width: 1050px){
	.block-7{
		flex-direction: column-reverse;
		justify-content: flex-end;
	}
	.block-7__img{
		margin-bottom: 20px;
	}
}
/*			block-8			*/
.block-8{
	width: 100%;
	height: auto;
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
}
.block-8__container{
	width: 700px;
	height: auto;
}
.block-8__container-img{
	width: 125px;
	height: 125px;
	cursor: pointer;
	padding: 10px;
	margin: 0 10px;
	border: 3px solid transparent;
	border-radius: 10px;
	-webkit-transition: border .25s;
	-moz-transition: border .25s;
	-o-transition: border .25s;
	transition: border .25s;
}
.block-8__container-img:hover{
	border: 3px solid #000;
}
.block-8__img{
	margin-top: 20px;
	width: 500px;
	height: 500px;
	display: none;
}
.block-8__img_active{
	display: block;
}
/*			review			*/
.review{
	width: 100%;
	height:  auto;
	padding: 20px 0 40px;
	background: #19263a;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.review__title{
	font: 42px Intro;
	margin: 20px 0px 30px 0px;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.review__container-general{
	position: relative;
	width: 780px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.review__container{
	width: 680px;
	display: flex;
	overflow: hidden;
}
.review__container-circle{
	position: relative;
	display: inline-block;
	margin-right: 30px;
}
.review__photo-circle-circle{
	position: absolute;
	width: 32px;
	height: 32px;
	background: #2a5885;
	border: 2px solid #fff;
	border-radius: 50%;
	top: 12px;
	right: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	cursor: pointer;
	transition: opacity .25s;
	display: none;
}
.review__photo-circle-circle:hover{
	opacity: .7;
}
.review__container-switch_left{
	margin-right: 20px;
}
.review__container-switch_right{
	margin-left: 20px;
}
.review__photo-circle-photo{
	width: 128px;
	height: 128px;
	border-radius: 50%;
	margin: 10px 0px 20px;
}
.review__container-switch{
	background: none;
	border: none;
	outline: none;
	font: 45px RobotoRegular;
	color: #fff;
	cursor: pointer;
}
.review__container-switch-img{
	width: 40px;
	height: auto;
}
.review__container-text{
	width: 438px;
	height: auto;
	padding: 20px;
	background: #fff;
	border-radius: 10px;
	font: 16px RobotoRegular;
}
.review__element{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 50px;
	transition: margin 1s;
}
/*			block-9			*/
.block-9{
	padding-top: 40px;
	width: 100%;
	height: auto;
	padding-bottom: 50px;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.block-9__title{
	margin-bottom: 40px;
}
.block-9__container{
	display: flex;
	justify-content: center;
}
.block-9__container-element{
	width: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 75px;
}
.block-9__container-element-title{
	margin-top: 15px;
	font: 20px RobotoBold;
}
.block-9__container-element-text{
	font: 16px RobotoRegular;
	text-align: center;
	margin: 10px 0;
}
@media (max-width: 1200px){
	.block-9__title{
		padding-left: 20px;
		padding-right: 20px;
	}
	.block-9__container{
		width: 100%;
		flex-wrap: wrap;
	}
}
@media (max-width: 1200px){
	.block-9__container-element{
		margin-left: 15px;
		margin-right: 15px;
	}
}
/*			block-10		*/
.block-10{
	width: 100%;
	height: auto;
	padding-bottom: 50px;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}
.block-10__title{
	margin-bottom: 40px;
}
.block-10__container{
	width: 1000px;
	height: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.block-10__container-element{
	width: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 25px 41px;
}
.block-10__container-element-title{
	margin-top: 15px;
	font: 20px RobotoBold;
}
.block-10__container-element-text{
	font: 16px RobotoRegular;
	text-align: center;
	margin: 10px 0;
}
@media (max-width: 1000px){
	.block-10__container{
		width: 100%;
	}
}
/*			block-11		*/
.block-11{
	width: 100%;
	height: auto;
	padding-bottom: 30px;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}
.block-11__title{
	margin-bottom: 40px;
}
.block-11__container{
	display: flex;
	justify-content: center;
}
.block-11__container-element{
	width: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 25px;
}
.block-11__container-element-text{
	font: 18px RobotoRegular;
	text-align: center;
	margin: 10px 0;
}
.block-11__container-element-form{
	width: 210px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 7px;
	padding: 17px;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.block-11__container-element-form-input{
	width: 100%;
	font: 16px RobotoRegular;
	padding: 10px 0 10px 10px;
	margin-bottom: 10px;
}
.block-11__container-element-form-button{
	width: 224px;
	padding: 10px 0;
	font: 19px RobotoBold;
	color: #fff;
	background: linear-gradient(to top, #fe0a0a, #ff2a2c);
	border: none;
	outline: none;
	cursor: pointer;
}
.block-11__container-arrow{
	margin-top: 56px;
	font: 32px RobotoBold;
	color: #A61A00;
}
@media (max-width: 1300px){
	.block-11__title{
		padding-left: 20px;
		padding-right: 20px;
	}
	.block-11__container{
		width: calc(100% - 100px);
		margin-left: 50px;
		margin-right: 50px;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.block-11__container-element{
		margin-left: 50px;
		margin-right: 50px;
	}
	.block-11__container-arrow{
		display: none;
	}
}
@media (max-width: 825px){
	.block-11__container-element{
		margin-left: 25px;
		margin-right: 25px;
	}
}
/*			block-12 			*/
.block-12{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 30px;
	background: #fff;
}
.block-12__title{
	margin: 40px 0 30px;
}
.block-12__container{
	display: flex;
}
.block-12__container-images{
	display: flex;
	flex-direction: column;
	margin-right: 40px;
}
.block-12__container-images-element{
	margin: 15px 0;
	border-radius: 15px;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}
.block-12__container-description{
	width: 600px;
}
.block-12__container-description-text{
	font: 20px RobotoRegular;
	margin: 20px 0;
}
.block-12__container-description-text_margin{
	margin-top: 170px;
}
@media (max-width: 1200px){
	.block-12__title{
		padding-left: 20px;
		padding-right: 20px;
	}
	.block-12__container{
		width: 100%;
		flex-direction: column;
		align-items: center;
	}
	.block-12__container-images{
		width: 100%;
		flex-direction: row;
		justify-content: center;
	}
	.block-12__container-images{
		margin-right: 0;
	}
	.block-12__container-images-element{
		margin-left: 20px;
		margin-right: 20px;
	}
	.block-12__container-description-text_margin{
		margin-top: 20px;
	}
}
@media (max-width: 950px){
	.block-12__container-images-element{
		width: 300px;
		height: 300px;
	}
}
/*			footer 			*/
.footer{
	width: 100%;
	height: auto;
	background: #323232;
	padding: 20px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer__text{
	font: 18px RobotoRegular;
	color: #fff;
}
@media (max-width: 1000px){
	.footer{
		width: calc(100% - 40px);
		padding-left: 20px;
		padding-right: 20px;
		flex-direction: column-reverse;
	}
	.footer__text{
		padding-top: 15px;
	}
}
/*			modal-window			*/
.modal-mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}
.modal-window{
	width: 300px;
	height: auto;
	padding: 30px 40px;
	font: 20px RobotoRegular;
	background: #fff;
	position: fixed;
	top: calc(25% - 126px);
	left: calc(50% - 200px);
	border-radius: 8px;
}
.modal-window__title{
	font: 22px Intro;
	margin-bottom: 20px;
	text-align: center;
	color: #364777;
}
.modal-window form{
	display: flex;
	flex-direction: column;
}
.modal-window__input{
	font: 20px RobotoRegular;
	padding: 8px;
	margin: 0 0 20px;
}
.modal-window__send{
	font: 20px Intro;
    color: #fff;
    border: none;
    outline: none;
    background: linear-gradient(to top, #fe0a0a, #ff2a2c);
    padding: 15px 8px;
    border-bottom: 2px solid #000;
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition: background .25s;
    -moz-transition: background .25s;
    -o-transition: background .25s;
    transition: background .25s;
}
/*.modal-window__send:hover{
	background: green;
}*/
.modal-window__exit{
	font: 20px RobotoBold;
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 4px;
	right: 8px;
	color: gray;
}
/*			block-13		*/
.block-13{
	width: 100%;
	height: auto;
	padding: 40px 0;
	background: url(../img/background-3.png);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.block-13__title-1{
	font: 52px RobotoBold;
	color: #fff;
	text-align: center;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.7);
}
.block-13__title-2{
	font: 60px RobotoBold;
	color: #fff;
	text-align: center;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.7);
	margin-bottom: 25px;
}
.block-13__timer{
	display: flex;
	font: 72px RobotoBold;
	color: #fff;
	padding: 5px 40px;
	background: #353535;
}
.block-13__timer-element{
	margin: 0 5px;
}
.block-13__mask-order{
	width: 280px;
	height: auto;
	padding: 10px 30px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #a3c5df;
	box-shadow: 0px 0px 50px rgba(0,0,0,0.7);
}
.block-13__contener-img{
	width: 850px;
	/*height: 357px;*/
}
.block-13__mask-order-title{
	font: 26px RobotoBold;
	color: #1d3051;
	margin: 8px 0 16px;
}
.block-13__mask-order-prices{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.block-13__mask-order-prices-general{
	background: #fff;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*border: 2px solid #32615b;*/
}
.block-13__mask-order-prices-action{
	background: #feb100;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*border: 2px solid #32615b;*/
}
.block-13__mask-order-prices-general-price{
	font: 15px RobotoBold;
}
.block-13__mask-order-prices-general-value{
	font: 28px RobotoBold;
	text-decoration: line-through;
}
.block-13__mask-order-prices-action-price{
	font: 15px RobotoBold;
}
.block-13__mask-order-prices-action-value{
	font: 28px RobotoBold;
}
.block-13__contener{
	width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
}
.block-13__mask-order-form{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.block-13__mask-order-form-input{
	width: 257px;
	border: 0;
	padding: 8px;
	margin-top: 15px;
	font: 16px RobotoRegular;
}
.block-13__mask-order-form-send{
	width: 273px;
	height: auto;
	font: 18px RobotoBold;
	color: #fff;
	outline: none;
	border: none;
	cursor: pointer;
	background:  linear-gradient(to top, #fe0a0a, #ff2a2c);
	padding: 20px 0;
	border-bottom: 3px solid #b70400;
	margin-top: 15px;
	-webkit-transition: background .25s, border .25s;
	-moz-transition: background .25s, border .25s;
	-o-transition: background .25s, border .25s;
	transition: background .25s, border .25s;
}
.block-13__mask-order-form-send:hover{
	/*background: red;*/
	/*border-bottom: 3px solid #0d5b03;*/
}
@media (max-width: 1300px){
	.block-13{
		background-size: cover;
	}
	.block-13__contener{
		width: calc(100% - 50px);
		flex-direction: column;
		align-items: center;
	}
	.block-13__title-1{
		padding: 0 20px;
	}
	.block-13__title-2{
		padding: 0 20px;
	}
}
/*		block-14		*/
.block-14{
	width: 100%;
	height: auto;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 40px;
}
.block-14__title{
	width: 100%;
	/*background: #627593;*/
	font-size: 32px;
	padding: 15px 0;
	color: #364777;
}
.block-14__img{
	margin-top: 40px;
}
@media (max-width: 900px){
	.block-14__title{
		width: calc(100% - 40px);
		padding-left: 20px;
		padding-right: 20px;
	}
	.block-14__img{
		max-width: calc(100% - 40px);
		margin-left: 20px;
		margin-right: 20px;
	}
}
/*	Не мой код	*/
#block7{
    background: url('../img/bg7.jpg');
    background-size: cover;
    width: 100%;
    height: 1004px;
    overflow: hidden;
}
.b7{
    width: 1000px;
    /*height: 1304px;*/
    margin: 0 auto;
    background: url('../img/bgb7.png') repeat;
    padding-top: 40px;
}
.b7 h2{
    font-size: 28px;
    text-transform: uppercase;
    font-family: RobotoBold;
}
.b7 h3{
    font-size: 28px;
    font-family: RobotoBold;
    color:#fe2d06;
}
.b7 p{
    font-size: 23px;
    font-family: RobotoRegular;
    color:#191919;
}
.b7_1{
   background: url('../img/b7_1.png') no-repeat 0 0; 
   width: 100%;
   height: 379px;
}
.b7_1 h2
{	
	color: #364763;
    padding: 69px 0px 0px 95px;
}
.b7_1 h3
{
    padding: 54px 0px 0px 98px;
}
.b7_1 p
{
    padding: 19px 0px 0px 107px;
}
.b7_2{
   background: url('../img/b7_2.png') no-repeat center center; 
      width: 100%;
   height: 426px;
   margin-top: 28px;
}
.b7_2 h2
{	
	color: #364763;
    padding: 55px 0px 0px 330px;
}
.b7_2 h3
{
    padding: 39px 0px 0px 330px;
}
.b7_2 p
{
    padding: 19px 0px 0px 330px;
    font-size: 19px;
}
.b7_3{
   background: url('../img/b7_3.png') no-repeat center center; 
      width: 100%;
   height: 351px;
   margin-top: 11px;
}
.b7_3 h2
{
    padding: 6px 0px 0px 95px;
}
.b7_3 h3
{
    padding: 54px 0px 0px 98px;
}
.b7_3 p
{
    padding: 19px 0px 0px 98px;
    font-size: 19px;
}
@media (max-width: 1020px){
	#block7{
		height: auto;
	}
	.b7{
		width: 100%;
	}
	.b7_1{
		background: none;
		height: auto
	}
	.b7_1 h2{
		padding-top: 0;
	}
	.b7_1 h2,
	.b7_1 h3,
	.b7_1 p{
		padding-left: 0;
		text-align: center;
	}
	.b7_1 h3,
	.b7_1 p{
		padding-top: 20px;
		margin-top: 0;
	}
	.b7_2{
		background: none;
		height: auto;
		padding-bottom: 30px;
	}
	.b7_2 h2,
	.b7_2 h3,
	.b7_2 p{
		padding-left: 0;
		text-align: center;
	}
	.b7_2 h3,
	.b7_2 p{
		padding-top: 20px;
		margin-top: 0;
	}
}