body{
	margin: 0;
	font-family: arial;
	height: 100%;
	width: 100%;
}

img {
	max-height: 100%;
}

#menu{
	height: 300px;
	width: 300px;
	background: rgba(0,0,0,0.75);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: calc(25% - 150px);
	top: calc(50% - 150px);
}

#menu button{
	font-size: 24px;
	padding: 5px 20px;
	cursor: pointer;
	border: 1px solid #000;
	background: #FF8500;
	outline: none;
	color: #fff;
	transition: background .25s;
}

#menu button:hover{
	background: #FF3D00;
}

#hero{
	height: 900px;
	position: absolute;
	left: calc(50% - 183px);
	top: calc(50% - 450px);
}

#hero img{
	position: absolute;
	transition: opacity .5s;
}

#hero-2,
#hero-3,
#hero-4{
	display: none;
	opacity: 0;
	z-index: 0;
}